button {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 1rem;
  display: grid;
  place-items: center;
  min-height: 100dvh;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond',
    'Times New Roman', serif;
}
